<!DOCTYPE html>
<html>
<head>
  <title>Shoping Cart</title>

  <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.6.4/angular-datatables.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">

  <style>
    .popover{
      width: 100%;
      max-width: 800px;
    } 
  </style>

</head>
<body>

  <br>
    <h3 align="center">Shoping Cart by AngularJS PHP</h3>
  <br>

  <div class="container" ng-app="shoppingCart" ng-controller="shoppingCartController" ng-init="loadProduct()">

    <div class="row">
      <div class="col-md-3" style="margin-top:12px;" ng-repeat = "product in products">
        <div style="border:1px solid #333; background-color:#f1f1f1; border-radius:5px; padding:16px; height:350px;" align="center">
          <img ng-src="images/{{ product.image }}" class="img-responsive" /><br />
          <h4 class="text-info">{{ product.name }}</h4>
          <h4 class="text-danger">{{ product.price }}</h4>
          <input type="button" name="add_to_cart" style="margin-top:5px;" class="btn btn-success form-control" value="Add to Cart" ng-click="addtoCart(product)" />
         </div> 
      </div>
    </div>
    <br />
    <h3>Your Cart Details</h3>
    <div class="table-responsive" id="order_table">
      <table class="table table-bordered table-striped">
        <tr>
          <th width="40%">Product Name</th>
          <th width="10%">Quantity</th>
          <th width="20%">Price</th>
          <th width="15%">Total</th>
          <th width="5%">Action</th>
        </tr> 
        <tr ng-repeat="cart in carts">
          <td>{{ cart.product_name }}</td> 
          <td>{{ cart.product_quantity }}</td> 
          <td>{{ cart.product_price }}</td> 
          <td>{{ cart.product_quantity * cart.product_price }}</td> 
          <td>
            <button type="button" name="remove_product" class="btn btn-danger btn-xs" ng-click="removeItem(cart.product_id)">Remove</button>
          </td>
        </tr>
        <tr>
          <td colspan="3" align="right">Total</td>
          <td colspan="2">{{ setTotals() }}</td>
        </tr>
      </table> 
    </div>

  </div> <!-- END CONTAINER -->

<script>
  
  var app = angular.module('shoppingCart', []);
  app.controller('shoppingCartController', function($scope, $http){

    $scope.loadProduct = function(){
      $http.get('fetch_data.php').success(function(data){
       $scope.products = data;
      });
    };

    $scope.carts = [];

    $scope.fetchCart = function(){
      $http.get('fetch_cart.php').success(function(data){
        $scope.carts = data;
      });
    };

    $scope.setTotals = function(){
      var total = 0;
      for(var count=0; count < $scope.carts.length; count++){
        var item = $scope.carts[count];
        total = total + (item.product_quantity * item.product_price);
      }
      return total;
    };

    $scope.addtoCart = function(product){
      $http({
        method:"POST" ,
        url:"add_item.php",
        data:product
      }).success(function(data){
        $scope.fetchCart();
      });
    };

    $scope.removeItem = function(id){
      $http({
        method:"POST",
        url:"remove_item.php",
        data:id
      }).success(function(data){
       $scope.fetchCart();
      });
    };

  });
  
  ///////////////////// angular 1.6+ //////////////////////////
  // var app = angular.module('crudApp', ['datatables']);
  // app.controller('crudController', function($scope, $http){
  //   $scope.fetchData = function(){
  //   $http({
  //     method: 'GET',
  //     url : 'fetch_data.php'  
  //   }).then(function(data){
  //     console.log(data);
  //     //$scope.namesData = data;
  //   });
  //  };
  // });
  ///////////////////// angular 1.6+ //////////////////////////

</script>

</body>
</html>
